<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 등록</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="~{ navbar.html::navbar }"></div>
<h1>상품 등록</h1>
<form id="itemForm" action="/api/product/add" method="POST">
    <input name="title" placeholder="상품명" required>
    <input name="price" placeholder="가격" required>
    <input name="description" placeholder="설명" required>
    <input name="stock" placeholder="재고" required>
    <input name="category" placeholder="카테고리" required>
    <input name="imageUrl" placeholder="이미지url" required>
    <button type="submit">등록</button>
</form>
</body>
</html>