<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인 페이지</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="~{ navbar.html::navbar }"></div>
<div id="login-form">
    <h1>로그인</h1>
    <button id="login-id-btn" onclick="location.href='/api/user/register-form'">
        회원 가입하기
    </button>

    <!-- 로그인 실패 메시지 -->
    <div id="login-failed" style="display: none" class="alert alert-danger" role="alert">로그인에 실패하였습니다.</div>

    <!-- 토큰 만료 메시지 -->
    <div id="token-expired" style="display: none" class="alert alert-warning" role="alert">토큰이 만료되었습니다. 다시 로그인해주세요.</div>

    <form id="loginForm">
        아이디
        <input type="text" name="username" required>
        비밀번호
        <input type="password" name="password" required>
        <button type="submit">로그인</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // URL 파라미터로부터 error 메시지 확인
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get('error');

        // 토큰 만료 시 메시지 표시
        if (error === 'tokenExpired') {
            const tokenExpiredDiv = document.getElementById('token-expired');
            tokenExpiredDiv.style.display = 'block';
        }
    });

    document.getElementById('loginForm').addEventListener('submit', async function(event) {
        event.preventDefault(); // 기본 폼 제출을 방지

        const username = document.querySelector('input[name="username"]').value;
        const password = document.querySelector('input[name="password"]').value;

        try {
            const response = await fetch('/api/user/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            });

            if (response.ok) {
                window.location.href = '/'; // 로그인 성공 후 리디렉션
            } else {
                const errorDiv = document.getElementById('login-failed');
                errorDiv.style.display = 'block';
            }
        } catch (error) {
            console.error('로그인 요청 중 오류 발생:', error);
        }
    });
</script>
</body>
</html>